<html>
<head>
    <title>Minne App Login</title>
    <link href="static/minne.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
</head>
<body>
<div id="logo"></div>
<div id="welcome">Welcome to Minne</div>
<form action="/v1/auth/app" method="post">
    <div>
        <label for="username">Email address</label>
        <input class="input-field" type="email" name="username" id="username" placeholder="Email address" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input class="input-field" type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <input class="submit-button" type="submit" value="Sign in">
</form>
</body>
</html>