<html>
<head>
    <title>Minne App Login</title>
</head>
<body>
<form action="/v1/auth/app" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
</body>
</html>